@import '../styles/config';

.wrapper {
  position: relative;
}

.wrapper.fadeIn .image {
  opacity: 0;
  transition: opacity $transition-default ease-in;
}

.wrapper.hasLoaded .image {
  opacity: 1;
}

.wrapper.hasLoaded .padding {
  background-color: transparent;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.padding {
  display: block;
  width: 100%;
  background-color: $color-background-gray;
}

.image {
  display: block;

  max-width: 100%;

  &.hasPlaceholder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
