{
  "presets": [
    ["env", { "targets": { "node": true } }],
    "react",
    "stage-1"
  ],
  "env": {
    "commonjs": {
      "presets": [
        "latest",
        "react",
        "stage-1"
      ],
      "plugins": [
        ["css-modules-transform", {
          "extractCss": "./styles.css",
          "extensions": [".css", ".scss", ".sass"],
          "preprocessCss": "./tools/scripts/sass.js",
          "generateScopedName": "[hash:base64:16]"
        }]
      ]
    },
    "umd": {
      "presets": [
        ["latest", { "es2015": { "modules": false } }],
        "react",
        "stage-1"
      ],
    }
  }
}
