# Misc
*.DS_Store

# Logs
logs
*.log

# Dependencies
node_modules

# Debug log from npm
npm-debug.log

# Jest
coverage

# Build output
umd
commonjs
build
styles.css
public

# Flow
flow-coverage
flow-typed
