@import '../styles/config';

.item {
  @include reset-anchor;
  display: inline-block;

  padding: 0;

  min-width: 100%;

  cursor: pointer;
  pointer-events: none;

  transition: transform 1s;
  transform: translateY(20%);

  &.isActive {
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &__imageWrap {
    padding-bottom: $gutter / 2;

    @media (min-width: $min-tablet) {
      padding-bottom: $gutter;
    }

    pointer-events: auto;
  }

  &__scale {
    overflow: hidden;
    transition: transform 300ms ease-in-out;
  }

  &.isDone &__scale {
    transition: transform 300ms ease-in-out;
  }

  &.isDone:hover &__scale {
    @media (min-width: $min-desktop) {
      transform: scale(0.97);
    }
  }

  &__assets > * {
    width: 100%;

    transition: transform 1s;

    transform: scale(1.5);
  }

  &.isActive &__assets > * {
    transform: scale(1);
  }

  &.isDone &__assets > * {
    transition: transform 300ms ease-in-out;
  }

  &.isDone:hover &__assets > * {
    @media (min-width: $min-desktop) {
      transform: scale(1.1);
    }
  }

  &__center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    @include reset-heading;
    @include responsive-font(17 , 20);

    display: inline;

    font-weight: 500;
    text-align: center;
    line-height: (24 / 20);
    letter-spacing: 0.02em;

    pointer-events: auto;
  }

  &__typelist {
    @include reset-list;

    display: none;
    justify-content: center;
    flex-wrap: wrap;

    padding: 0 $gutter / 2;
    
    @media (min-width: $min-tablet) {
      display: inline-flex;
    }
  }

  &__type {
    @include reset-list;
    @include responsive-font(10,15);

    color: $color-font-light-gray;
    font-weight: 300;
    line-height: (22 / 15);
    letter-spacing: 0.05em;

    pointer-events: auto;

    &::after {
      content: ',';
      margin-right: 5px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    @media (min-width: $min-768) {
      letter-spacing: 0.02em;
    }
  }

  video { // stylelint-disable-line
    pointer-events: none;
  }
}
