/***
*  This file is imported in components/app-layout/AppLayout.scss
*/

@-ms-viewport { // stylelint-disable-line
  width: device-width;
}

@-o-viewport { // stylelint-disable-line
  width: device-width;
}

@viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

:fullscreen a { // stylelint-disable-line
  display: flex;
}

html, body { // stylelint-disable-line
  min-height: 100vh;

  background: #fff;
}

html { // stylelint-disable-line
  -webkit-overflow-scrolling: touch;

  overflow-x: hidden;
  overflow-y: scroll;

  &.is-scroll-disabled { // stylelint-disable-line
    body { // stylelint-disable-line
      height: 100vh;
      overflow: hidden;
    }
  }
}

body { // stylelint-disable-line
  position: relative;

  margin: 0;

  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; // stylelint-disable-line

  overflow: hidden;
}

img { // stylelint-disable-line
  display: block;
  max-width: 100%;
  height: auto;
}
