// Akagi Pro
@font-face {
  font-family: 'Akagi Pro';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/akagi-pro-light.eot');
  src:
    url('../assets/fonts/akagi-pro-light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/akagi-pro-light.woff2') format('woff2'),
    url('../assets/fonts/akagi-pro-light.woff') format('woff'),
    url('../assets/fonts/akagi-pro-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Akagi Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/akagi-pro-book.eot');
  src:
    url('../assets/fonts/akagi-pro-book.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/akagi-pro-book.woff2') format('woff2'),
    url('../assets/fonts/akagi-pro-book.woff') format('woff'),
    url('../assets/fonts/akagi-pro-book.ttf') format('truetype');
}

@font-face {
  font-family: 'Akagi Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/akagi-pro-medium.eot');
  src:
    url('../assets/fonts/akagi-pro-medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/akagi-pro-medium.woff2') format('woff2'),
    url('../assets/fonts/akagi-pro-medium.woff') format('woff'),
    url('../assets/fonts/akagi-pro-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Akagi Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/akagi-pro-semibold.eot');
  src:
    url('../assets/fonts/akagi-pro-semibold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/akagi-pro-semibold.woff2') format('woff2'),
    url('../assets/fonts/akagi-pro-semibold.woff') format('woff'),
    url('../assets/fonts/akagi-pro-semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Akagi Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/akagi-pro-bold.eot');
  src:
    url('../assets/fonts/akagi-pro-bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/akagi-pro-bold.woff2') format('woff2'),
    url('../assets/fonts/akagi-pro-bold.woff') format('woff'),
    url('../assets/fonts/akagi-pro-bold.ttf') format('truetype');
}

// Tisa Pro
@font-face {
  font-family: 'Tisa Pro';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/ff-tisa-web-pro-thin.eot');
  src:
    url('../assets/fonts/ff-tisa-web-pro-thin.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/ff-tisa-web-pro-thin.woff2') format('woff2'),
    url('../assets/fonts/ff-tisa-web-pro-thin.woff') format('woff'),
    url('../assets/fonts/ff-tisa-web-pro-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Tisa Pro';
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/ff-tisa-web-pro-light.eot');
  src:
    url('../assets/fonts/ff-tisa-web-pro-light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/ff-tisa-web-pro-light.woff2') format('woff2'),
    url('../assets/fonts/ff-tisa-web-pro-light.woff') format('woff'),
    url('../assets/fonts/ff-tisa-web-pro-light.ttf') format('truetype');
}
