@import '../../../styles/config';

.fisheye {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .canvasElement {
    position: fixed;
    top: 0;
    left: 0;
  }

  .stats {
    position: fixed;
    top: 50%;
    left: 0;
    width: 110px;
    height: 201px;

    transform: translateY(-50%);
  }
}
