@import '../styles/config';

.input {
  @include formElement;

  &:focus[type=email] {
    text-transform: lowercase;
  }
}

.error:not(:focus) {
  border-color: $color-error;
}

.success:not(:focus) {
  border-color: $color-success;
}
